.CardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding: 0px 6px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.CardContainer:last-child{
    margin-bottom: 100px;
}

.Filter{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.Filter > select{
    border-radius: 5px;
    font-size: larger;
    width: 30%;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    font-weight: 500;
}

@media (max-width: 500px) {
    .CardContainer{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .Filter > select{
        font-size: small;
        width: 40%;
    }
}